/* ----------------------------------  font ------------------------------------- */

@font-face {
    font-family: "Robotolight";
    src: url("../font/Robotolight.ttf");
    url("../font/Robotolight.woff") format("woff"),
    url("../font/Robotolight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Robotoblack";
    src: url("../font/robotoblack.ttf");
    url("../font/robotoblack.woff") format("woff"),
    url("../font/robotoblack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* ----------------------------------  end font ------------------------------------- */

.tutorial_bg{
margin: 10px 0 0 10px;
line-height: normal;
}
.js-toggle-left-slidebar{
    padding: 6px ;
    border: 1px solid #a7a5a5;
    border-radius: 2px;
    line-height: normal;
    background: #dfe4e4;
    outline: none;
}
#menu_pop {
 margin:10px auto ;
 width: 280px;
 background: url('../img/wood.jpg');
 padding: 7px;
 box-shadow:  0px 1px 5px #000;
 z-index: 10;
}
#menu_pop:before {
    content: "";
    position: absolute;
    display: block;
    width: 280px;
    height: 100px;
    bottom: 0;
    left: 0;
    background: url(iStock.png);
}
#menu_pop:after {
content: "";
    position: absolute;
    display: block;
    width: 280px;
    height: 255px;
    bottom: 119px;
    left: 0;
    background: url(../img/nail.png);
    background-size: 50%;
        z-index: -1;
}
#nav {
 list-style: none;
 padding: 0px;
 margin: 0px;
}
#nav .button_podtext {
 font-size: 9px;
 color: #b1b1b1;
}
#nav div {
 display: block;
 cursor: pointer;
 text-decoration: none;
 display: block;
 padding: 8px 0px 8px 11px;
 background: #000;
 color: #fff;
 font-size: 12px;
 font-family: tahoma;
 background: url('../img/bg.png') 0px 0px;
 text-shadow: 0px 1px 0px rgba( 0, 0, 0, 0.6);
 list-style: circle;
 line-height: 13px;
}
#nav div:hover {
 background: url('../img/bg.png') 0px -44px;
}
.first {
 border-radius: 3px 3px 0px 0px;
}
#nav ul a {
 color: #777;
}
#nav ul {
 list-style: none;
 padding: 5px;
 font-size: 10px;
 font-family: Tahoma;
 background: #1a1a1a;
 box-shadow: inset 0px 3px 6px rgba( 0, 0, 0, 0.7);
 display: none;
 padding-left: 0;
 margin-left: 0;
 line-height: normal;
}
#nav ul li {
 font-weight: normal;
 cursor: auto;
 padding: 3px 7px;
}
#nav a {
 text-decoration: none;
}
#nav a:hover {
 text-decoration: underline;
}
#menu_pop .menu_bottom {
 display: block;
 padding: 3px 6px 3px;
 background: #000;
 color: #fff;
 font-size: 9px;
 border-radius: 0px 0px 3px 3px;
 font-family: georgia;
 background: url('../img/bg_bottom.png') 0px 0px;
 text-align: right;
 text-shadow: 0px 1px 0px rgba( 0, 0, 0, 0.6);
}

/* main_rerait */
.outer-nav{
	position: absolute;
    width: 266px;
}
/* Классы Bootstrap для построения сеток */
.manual_b_s{
    margin-bottom: 80px;
}
.content table {
    width: 100%;
    margin: 1.5em 0;
    clear: both;
    border: 1px solid #ccc;
    border-collapse: collapse;
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
}
.content tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.content tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.content table td, .content table th {
    padding: .3em;
    word-break: break-word;
    border: 1px solid #ccc;
    background: #edf3d8;
}
.content .description-text__bg{
    background: rgba(247, 224, 238, 0.72);
}
.content table .rw_pr--bg{
    background: #efefef;
}
/* ---------------------- */
[class*="col-"] {
    border: 1px solid #ccc;
    text-align: center;
    height: 100px;
    line-height: 100px;
}
.contr_pr,
.padd_pr,
.rw_pr{
    position: relative;
    text-align: center;  
}
.contr_pr{
    font-size: 18px;  
    text-transform: uppercase;
    line-height: 40px;
}
.padd_pr{
    font-size: 14px;  
    text-transform: lowercase;
    line-height: 100px;
}
.padd_pr:after,
.padd_pr:before{
    position: absolute;
    content: "";
    width: 15px;
    height: 100%;
    background: #edf3d8;
    top: 0;
}
.padd_pr:after{
    right: 0px;
}
.padd_pr:before{
    left: 0px;
}
.contr_pr:before{
    position: absolute;
    content: "контейнер";
    width: 100%;
    height:40px;
    background: #edf3d8;
    top: -42px;
    left: 0;
    border: 1px solid;
    border-width: 1px 1px 0px 1px;
}
.rw_pr:after,
.rw_pr:before{
    position: absolute;
    width: 100%;
    height:40px;
    background: #efefef;
    top: 101px;
}
.rw_pr:after{
    right: 0px;
    content:"<<15px<<row>>15px>>";
    border: 1px solid;
    border-width: 0 15px 0 15px;
}
.rw_pr:before{
    left: 0px;
    content:"<row>";
}
.title_pr{
    margin: 30px 0 72px;
    font-size: 18px;
}
/* footer tutarial */
footer {
	position: relative;
	bottom: 0;
	height: 10px;
	width: 100%;
	background: url(../../../assets/img/opilki.jpg);
	opacity: 0.4;
}