@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

.btn-menu-perspective{
	position: fixed;
    display: block;
    z-index: 100;
}
.btn-menu-perspective i{
	font-size: 14px;
	color: #fff;
}
.btn-menu-perspective i:nth-child(1){
	font-size: 18px;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
}

.clearfix:after {
	clear: both;
}

.codrops-header,
.codrops-top {
	font-family: 'Lato', Arial, sans-serif;
}

#main_menu .codrops-header {
	margin: 0 auto 3em;
	padding: 3em;
	text-align: center;
}

#main_menu .codrops-header h1 {
	margin: 0;
	font-weight: 300;
	font-size: 2.625em;
	line-height: 1.3;
}

#main_menu .codrops-header span {
	display: block;
	padding: 0 0 0.6em 0.1em;
	font-size: 60%;
	color: #aca89a;
}

/* To Navigation Style */
#main_menu .codrops-top {
	width: 100%;
	text-transform: uppercase;
	font-size: 0.69em;
	line-height: 2.2;
	font-weight: 700;
	background: rgba(255,255,255,0.3);
}

#main_menu .codrops-top a {
	display: inline-block;
	padding: 0 1em;
	text-decoration: none;
	letter-spacing: 0.1em;
}

#main_menu .codrops-top a:hover {
	background: rgba(255,255,255,0.4);
	color: #333;
}

#main_menu .codrops-top span.right {
	float: right;
}

#main_menu .codrops-top span.right a {
	display: block;
	float: left;
}

#main_menu .codrops-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

#main_menu .codrops-icon-drop:before {
	content: "\e001";
}

#main_menu .codrops-icon-prev:before {
	content: "\e004";
}

#main_menu .main {
	max-width: 69em;
	margin: 0 auto;
}

#main_menu .column {
	float: left;
	width: 50%;
	padding: 0 2em;
	min-height: 300px;
	position: relative;
	text-align: right;
}

#main_menu .column:nth-child(2) {
	box-shadow: -1px 0 0 rgba(0,0,0,0.1);
	text-align: left;
}

#main_menu .column p {
	font-weight: 300;
	font-size: 2em;
	padding: 0 0 0.5em;
	margin: 0;
	line-height: 1.5;
}

.codrops-demos a,
.perspective_btn,
.perspective_btn--back{
	border: none;
	padding: 0.6em 1.2em;
	background: #a9a9a9;
	color: #fff;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 75%;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	display: block;
	margin: 10px;
	border-radius: 2px;
	font-weight: 400;
	outline: none;
}

#main_menu .codrops-demos a:hover,
#main_menu .codrops-demos a:active,
#main_menu .codrops-demos a.current-demo {
	background: #777;
}

.perspective_btn {
	background: #ed8151;
}
.perspective_btn--back{
	background: #6152d8;
}
.perspective_btn--back:hover,
.perspective_btn--back:active {
	background: #584ac3;
}
.perspective_btn:hover,
.perspective_btn:active {
	background: #e86a32;
}

#main_menu .related {
	text-align: center;
	font-size: 1.5em;
	margin-top: 3em;
	clear: both;
	padding: 3em 0;
}

#main_menu .related a {
	font-weight: 700;
	font-size: 0.9em;
}

@media screen and (max-width: 46.0625em) {

	#main_menu .codrops-header {
		margin-bottom: 0;
		padding-bottom: 1em;
	}

	#main_menu .column {
		width: 100%;
		min-width: auto;
		min-height: 0;
		padding: 2em; 
		text-align: center;
	}

	#main_menu .column p {
		font-size: 1.5em;
	}

	#main_menu .column:nth-child(2) {
		text-align: center;
		box-shadow: 0 -1px 0 rgba(0,0,0,0.1);
	}
}

@media screen and (max-width: 25em) {

	#main_menu .codrops-header {
		font-size: 80%;
	}

	#main_menu .codrops-top {
		font-size: 120%;
	}

	#main_menu .codrops-icon span {
		display: none;
	}

}